.nav-link-top{
	color: black;
	font-weight: 500;
	margin-left: 110px;
	text-decoration: none;
}

h3{
	margin-left: 30px;
}
.img{
	width: 140px;
	border-radius: 50%;
	margin-left: 60px;
	margin-top: 30px;
}
.image{
	width: 150px;
	margin-top: 70px;
}
.card-body{
	margin-left: 50px;
	background-color: white;
	height: 160px;
}
.img1{
width: 200px;
}
.img2{
	width: 160px;
	height: 120px;
}
.footer{
	background-color:#0e382c;
	height: auto;
	margin-top: 80px;
}
h4{
	margin-left: 110px;
	margin-top: 60px;
	color: white;
}
h6{
	margin-left: 90px;
	margin-top: 20px;
}
.card{
	background-color: lightgrey;
	height: 300px;
}
.nav-link{
	color: lightgrey;
	margin-left: 110px;
}
.nav-link-bottom{
	color:lightgrey;
	display: inline;
	margin-left: 130px;
	
}
.nav-link:hover{
	color: white;
}
.foot{
	color: lightgrey;
	font-size: 13px;
}
.d-block{
	height: 380px;
}

.card-text{
	
	display: flex;
	margin-left: 220px;
	
}
